<!DOCTYPE html>
<html>
<head>
  <title>url show</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <% if (loggedIn) { %>
    <div class="container">
      <div class="jumbotron">
      <h1><%= shortURL %></h1>
      <h2><%= longURL %></h2>
        <form method="POST" action="/urls/<%=shortURL%>">
          <label for="longURL">Enter new long URL: </label>
          <input type="text" class="form-control" name="longURL" aria-describedby="httpHelp" placeholder="https://">
          <br>
          <button type="submit" value="Update" class="btn btn-success"> Update </button>
        </form>
      </div>
    </div>
    <% } else { %>
    <div class="container">
      <header>
        <% include ./partials/_header %>
      </header>
      <p>You are not logged in to use this feature. Please Sign In!</p>
    </div>
    <% } %>
  </div>
</body>
</html>